<p><span style="font-weight: 400;">End User License Agreement &amp; Terms of Service</span></p>
<p><span style="font-weight: 400;">V 0.6</span></p>
<p><br /><br /></p>
<p><span style="font-weight: 400;">This agreement (the "Agreement") is a binding agreement between you ("You") and NOS Stablecoin Limited, 78, Mill Street, QRM3101 Qormi, Malta ("Stablecoin Ltd", " We", "Our" or "Us"). This Agreement governs the use the use of the NOS platform (the "Service") through which you can access the NOS block lattice network (the "Network"). In order to access the Service, you may either use our website (the "Website") or the NOS Stablecoin Wallet Application including all its modules, updates, and all related documentation (the "Application"), both of which are also subject to this Agreement.</span></p>
<ol>
<li style="font-weight: 400;">
<h1><span style="font-weight: 400;">Responsibilities and Security</span></h1>
</li>
<ol>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">Website and Application allow you to create an account (the "Account") through which You can access the Network. We do not run the Network, nor do we transmit, manage, store, receive or send and information you send, transmit, or receive using it. We are therefore in no position to correct, delete, or recover any such information. We are also not the provider of such information or in any other way responsible for its content. This includes information about transactions concerning cryptocurrencies and other instruments. </span></h2>
</li>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">We are not responsible for the security of the device on which you are running the Website or Application or through which you otherwise access the Service. We recommend you use the latest stable version of the device's operating system and cease to use devices that are not or no longer supported by their manufacturer with updates and security patches. </span></h2>
</li>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">You are solely responsible for maintaining the confidentiality of your Account. &nbsp;You must immediately notify us of any unauthorized use of Your Account and any other such security breach. You should use particular caution when accessing your Account from a public or shared computer so that others are not able to view or record your password or other personal information.</span></h2>
</li>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">Any person using your device is able to use the Website or Application. We recommend you do not grant any third person access to your device and keep your device locked if not in use. </span></h2>
</li>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">We do not receive, have access to, or are in any other way responsible for the security of your private keys encrypting your communication with the Network. We recommend you keep such keys private, do not share them, and protect them by adequate technical measures. Be advised that any person in possession of your private keys will be able to interact with the Network under your identity. </span></h2>
</li>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">In order to create your wallet, you will request from and be granted automatically by the Network a wallet seed. We do not have access to such wallet seed and can in no way retrieve or recover it. As the wallet seed is the only way to recover your wallet on the Network and access the wallet and anything stored in it, it is important to keep your wallet seed safe and secure. We recommend you keep such wallet seed private, do not share them, and protect them by adequate technical measures. Be advised that any person in possession of your wallet seed will be able to interact with the Network under your identity.</span></h2>
</li>
</ol>
<li style="font-weight: 400;">
<h1><span style="font-weight: 400;">Functionality and Updates of Application and Website</span></h1>
</li>
<ol>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">Application, Website, and Service are provided "as is". All are currently in a public beta test phase. Any use is free of charge. </span></h2>
</li>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">We reserve the right to change the design, features and/or functionality of the Application by delivering updates. Depending on the nature of the update, in some circumstances You may not be able to continue using the Application until you have installed an updated version. We also reserve the right to change the design, features and/or functionality of the Website and/or the Service.</span></h2>
</li>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">Notwithstanding anything expressly set out in this Agreement, we make or give no representation or warranty as to the accuracy, completeness, currency, correctness, reliability, integrity, quality, fitness for purpose or originality of any content of the Application and/or the Website and/or the Service, and, to the fullest extent permitted by law, all implied warranties, conditions or other terms of any kind are hereby excluded.</span></h2>
</li>
</ol>
<li style="font-weight: 400;">
<h1><span style="font-weight: 400;">License to the Application</span></h1>
</li>
<ol>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">Subject to the terms of this Agreement, we hereby grant you a worldwide, non-sublicensable, non-assignable, non-exclusive and license to download, install, use, access, display and run the Application in object code only for the purposes of using the Application and its functions as an end user. You may not attempt to grant any right or licenses to the Application to third parties. </span></h2>
</li>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">The Application is protected by copyright and other intellectual property rights. You acknowledge and agree that any and all intellectual property rights in the Application are and shall remain Our exclusive property. </span></h2>
</li>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">You may not reverse engineer, decompile, disassemble, otherwise attempt to discover the source code or algorithms of the Application, adapt, modify or alter otherwise the Application or create derivative works based on the Application. &nbsp;</span></h2>
</li>
</ol>
<li style="font-weight: 400;">
<h1><span style="font-weight: 400;">Functionality of the Service</span></h1>
</li>
<ol>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">The Service is an online environment to purchase NOLLAR and/or NOS Utility Token and/or other items for US$ and redeem NOLLAR for US$. NOLLAR and NOS Utility Token are not money, legal tender, and are not monetary instruments. NOLLAR and NOS Utility Token are also not stored value or currency. Once you have NOLLAR or NOS Utility Token, you can trade them, keep them, use them to pay persons that will accept them, or redeem NOLLAR (not: NOS Utility Token) for U$.</span></h2>
</li>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">NOLLAR are fully backed by the currency or property used to purchase them at issuance. NOLLAR holders can purchase or redeem NOLLAR for US$ held in escrow accounts managed by our fiduciary network through the Service. The Service is intended to facilitate such purchases and redemptions. We utilizeescrow accounts managed by professional trust companies in order to legally guarantee a 1 to 1 parity between NOLLAR and the US$ held in escrow accounts for the benefit of our users. We ourselves do not guarantee any right of redemption or exchange of NOLLAR for US Dollars.</span></h2>
</li>
</ol>
<li style="font-weight: 400;">
<h1><span style="font-weight: 400;">Access to the Service</span></h1>
</li>
<ol>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">You may access the Service if you are at least 18 years of age (as a natural person), or if you are a legal person. </span></h2>
</li>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">We reserve the right to deny access to the Service to anyone for any reason.</span></h2>
</li>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">In order to keep our operations compliant and reputable we follow a due diligence process when accepting new customers and facilitating transactions. This includes reporting of suspicious activity to international regulators and law enforcement bodies. In particular, we refuse to conduct any activity which we have reason to believe constitutes money laundering or is financing or in other ways facilizing criminal or terrorist actives. Further, we may refuse registering customers from jurisdictions that do not meet international anti money laundering or anti-terror financing standards. </span></h2>
</li>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">You are required not to falsify or materially omit any information or provide misleading information requested by us in the course of the use of any services, including creating the Account.</span></h2>
</li>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">We reserve the right to prohibit users from accessing the Service if properly directed to do so by law enforcement or a court of competent jurisdiction. We will cooperate with applicable law enforcement and regulatory authorities where it is required to do so and will share information if there are reasons to believe that the Service is being used for illegal purposes.</span></h2>
</li>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">We reserve the right to prohibit specific cryptocurrency exchanges from accessing the Service if the exchange has not been preapproved by us or if we are properly directed to do so by law enforcement or a court of competent jurisdiction. </span></h2>
</li>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">We reserve the right to restrict or prohibit the listing or trading of any cryptocurrency or other instrument issued by Us on any exchange in our sole and absolute discretion. Any exchange that lists any cryptocurrency or other instrument issued by Us represents and warrants that by doing so it is duly organized, registered, licensed, and shall comply with all applicable laws and rules in every jurisdiction in which it operates. </span></h2>
</li>
</ol>
<li style="font-weight: 400;">
<h1><span style="font-weight: 400;">Use of Application, Website, and Service</span></h1>
</li>
</ol>
<p><span style="font-weight: 400;">You may use the Application, the Website, and/or the Service only for lawful purposes and in accordance with this Agreement. You agree not to use the Application, the Website, and/or the Service:</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">In a way or for purposes that violate any applicable laws.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">To impersonate or attempt to impersonate any other person or entity.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">In any way that infringes upon the rights of others, or in any way is illegal, threatening, fraudulent, or harmful, or in connection with any unlawful, illegal, fraudulent, or harmful purpose or activity.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">To engage in any other conduct that restricts or inhibits anyone&rsquo;s use of the Application, the Website, and/or the Service or which, as determined by us, may harm or offend us or users of the Application, the Website, and/or the Service or expose them to liability.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">In order to disguise the proceeds of, or to deal in any illicit goods.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">To interfere with or subvert our rights or obligations or the rights or obligations of any other customer or any other third party.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">To engage in conduct that is detrimental to us or to any other customer or any other third party.</span></li>
</ul>
<ol>
<li style="font-weight: 400;">
<h1><span style="font-weight: 400;">Information accessible through the Service</span></h1>
</li>
<ol>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">We do not warrant the accuracy, completeness, or usefulness of any information on the Service. </span></h2>
</li>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">The Service includes content provided by third parties, including materials provided by other users, attorneys, third-party licensors, syndicators, aggregators, and/or reporting services. All statements and/or opinions expressed in these materials, other than the content provided by us, are solely the opinions and the responsibility of the person or entity providing those materials. We are not responsible, or liable to you or any third party, for the content or accuracy of any materials provided by any third parties.</span></h2>
</li>
</ol>
<li style="font-weight: 400;">
<h1><span style="font-weight: 400;">Taxes</span></h1>
</li>
<ol>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">You are solely liable for all the taxes, fees, and commissions resulting from your use of the Service, the Application, and/or the Website. </span></h2>
</li>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">You agree to indemnify, defend, and hold us harmless from any liability for, or assessment of, any claims or penalties with respect to such taxes.</span></h2>
</li>
</ol>
<li style="font-weight: 400;">
<h1><span style="font-weight: 400;">Assumption of Risk, No Advice</span></h1>
</li>
</ol>
<p><span style="font-weight: 400;">Cryptocurrency markets are volatile and shift quickly in terms of liquidity, market depth, and trading dynamics. We do not provide any investment advice or consultation on the advisability of purchasing NOLLAR, NOS Utility token, or any other any cryptocurrency or other instrument issued by us, the timing of a purchase or redemption, or any other matters regarding the purchase or redemption.</span></p>
<ol>
<li style="font-weight: 400;">
<h1><span style="font-weight: 400;">Data Collection, Customer Data</span></h1>
</li>
</ol>
<p><span style="font-weight: 400;">We collect and store data in the amount required for the under this Agreement. Please refer to our Data Protection Policy for details relating to the collection and use of data.</span></p>
<ol>
<li style="font-weight: 400;">
<h1><span style="font-weight: 400;">Your Liability</span></h1>
</li>
</ol>
<p><span style="font-weight: 400;">You are responsible compliance with this Agreement and applicable laws. You release us from and hold us harmless against all claims from third parties due to any alleged breach of duty to this Agreement and applicable laws that may arise or be invoked.</span></p>
<ol>
<li style="font-weight: 400;">
<h1><span style="font-weight: 400;">Our Liability</span></h1>
</li>
<ol>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">We are fully liable for damages (a) resulting in a loss of life, bodily injury, or bodily harm due to a breach of duty by us, a legal representative, or agent, (b) caused by the absence of any condition guaranteed by us or (c) caused intentionally or through gross negligence by us, a legal representative, or agent. </span></h2>
</li>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">In the event of property or financial damages due to negligence, we are only liable in the event of breach of an essential contractual duty, and then only to the extent the damages are foreseeable by the end of the contract, in no way shall it exceed the greater of (a) the amount equal to the balance of funds held in your Account at the time the liability is incurred; or (b) US$ 250. Essential contractual duties are such duties which need to be carried out in order to actually perform the contract and in which the other party does and may trust. </span></h2>
</li>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">Any further liability for damages is excluded. Liability according to compulsory statutory law remains unaffected.</span></h2>
</li>
</ol>
<li style="font-weight: 400;">
<h1><span style="font-weight: 400;">Term and Termination</span></h1>
</li>
<ol>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">We may terminate this Agreement at any time, especially but not limited if we cease to support the Application, and/or the Website, and/or the Service, which we may do in Our sole discretion. We reserve the right to terminate this Agreement for violations of this Agreement, applicable laws and/or regulations, or engaging in any prohibited uses, and at any time, at our sole discretion. </span></h2>
</li>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">We may terminate this Agreement for good cause, e.g. in case of any violation of the terms of this Agreement or any applicable law.</span></h2>
</li>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">Upon any termination of this Agreement you must immediately cease all use of the Application, the Website, and the Service, and delete all copies of the Application from your device. Termination of this Agreement for any reason will not limit any of our rights or remedies under this Agreement. </span></h2>
</li>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">If we terminate your account for any reason, we will provide you with notice of our actions and make any unrestricted funds available for redemption.</span></h2>
</li>
</ol>
<li style="font-weight: 400;">
<h1><span style="font-weight: 400;">Applicable Law</span></h1>
</li>
</ol>
<p><span style="font-weight: 400;">This Agreement and any dispute between the Parties arising thereof will be governed the laws of Malta, without giving effect to any conflict of laws principles that may provide for the application of the law of another jurisdiction. The CISG (Convention on Contracts for the International Sale of Goods) is excluded.</span></p>
<ol>
<li style="font-weight: 400;">
<h1><span style="font-weight: 400;">Online Dispute Resolution</span></h1>
</li>
</ol>
<p><span style="font-weight: 400;">The European Online Dispute Resolution provides information about alternative dispute resolution which may be of interest and we are required to inform you that you may use it if there is a dispute that cannot be resolved between you and us. The platform may be accessed at: </span><a href="http://ec.europa.eu/consumers/odr/"><span style="font-weight: 400;">http://ec.europa.eu/consumers/odr/</span></a><span style="font-weight: 400;">. We are, however, not required to participate in such alternative dispute resolution and may choose not to. </span></p>
<ol>
<li style="font-weight: 400;">
<h1><span style="font-weight: 400;">Final Provisions </span></h1>
</li>
<ol>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">You represent and warrant that you are at least 18 years old (if a natural person) and that you have the capacity to enter into this Agreement in a binding manner (if natural or legal person). </span></h2>
</li>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">Should any clause in this Agreement be rendered wholly or partially invalid, ineffectual, or not enforceable, the remaining clauses shall remain valid and effective.</span></h2>
</li>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">We are entitled to assign this Agreement in full or selected rights thereof to a third party. You may not assign this Agreement in full or selected rights thereof to a third party. </span></h2>
</li>
<li style="font-weight: 400;">
<h2><span style="font-weight: 400;">We reserve the right to modify this Agreement e.g. in the event of modifications to the Application, the Website, or the Service; technical changes or changes of legal regulations, as long as such modifications do not affect the main contractual elements and do not expose you to any unreasonable disadvantage. We will make the modified Agreement available to you and also inform you about the modifications to the Agreement through an alert in the Application, or on the Website. Your use of the Application, the Website, or the Service following any such modification of the Agreement and alert thereupon shall constitute your agreement to such modified Agreement. </span></h2>
</li>
</ol>
</ol>
